body {

    box-sizing: border-box!important;
    padding-top: 54px;
}

.navbar-nav {
    text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}



.navbar-brand {
  display: inline-block;
  align-items: center;
  position: absolute;
}
.logo img {
  width: 300px;
}




@media (max-width: 767px){
.carousel .row .span3 {
display: block;
float: left;
width: 25%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
}
