@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    box-sizing: border-box!important;
    height: 100%;

}


 .navbar-default {
  margin: 0 auto;
  border: 0px;
  border-radius: 0px;
  padding-top: 10px;


}

.nav {
font-size:  16px;
font-weight: bold;
}
.navbar-moto {
  position: relative;
  left: 40%;
  transform: translate(-50%);
}

.navbar-inverse {
     background-color:  rgb(36,127,213);
   }


.navbar-nav:hover {

  color: rgb(36,127,213);
}
.navbar-brand {
  padding: 0px;
  margin-right: 20px;
}
.navbar-brand>img {
  height: 55px;
  width: auto;

}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


@media (max-width: 768px){
.carousel .row .span3 {
display: block;
float: left;
width: 25%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.navbar-brand>img  {
  position: relative;
  left: 50%;
}
}

@media (max-width: 900px){
.navbar-form { display: none}
.navbar-brand>img  { margin: 0 auto;}

}
